*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}
/* Titulo */
header h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(85, 11, 85);
  }
  /* Spinner */
.loader{
    width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: rgba(56, 255, 255, 0.733);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* Color boton sin poner ratón */
  button {
    display: block;
    margin-bottom: 10px; 
    background-color: #c055ae; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
/* Color contenido del boton */
.elixirs-details {
  margin-top: 10px; 
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:small;
}
/* Color botón al pasar el ratón */
button:hover {
  background-color: #b11e85;
}
/* Editar imagenes casas */
@media screen and (max-width: 600px) {
    td {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 100%; 
        height: auto;
        display: block;
    }
}
img.Gryffindor{
    max-width: 230px;
    height: auto;
    
}
img.Ravenclaw{
    max-width: 150px;
    height: auto;
}
img.Slytherin{
    max-width: 300px;
    height: auto;
    
}
img.Hufflepuff{
    max-width: 130px;
    height: auto;
    
}

td {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center; 
    vertical-align: middle; 
    overflow: hidden;
}
tr{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center; 
    vertical-align: middle; 
    overflow: hidden;
}
table{
    border-collapse: collapse;
      width: 100%;
}