*{
    font-family:sans-serif;
    text-align: center;
}
/* Titulo */
header h1{
    max-width: 300px;
    height: auto;
  }
  /* Spinner */
  .loader {
    width: 48px;
    height: 48px;
    display:inline-block;
    border: 2px solid #b6b4b4;
    border-radius: 50px ;
    position: relative;
    box-shadow: 0px 0px #ff006a inset;
    background-color: #ffffff;
    background-image: linear-gradient(#ff006a 100px, transparent 0);
    background-position: 0  20px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-top: 50px;
  }
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50% , -95%);
    border: 2px solid #b6b4b4;
    border-bottom: none;
    background: #fff;
    width: 15px;
    height: 35px;
    align-items: center;
  }
  .loader::before {
    content: '';
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-125%);
    bottom: -4px;
    border-radius: 50%;
    position: absolute;
    width: 6px;
    height: 6px;
    z-index: 10;
    animation: bubbles 6s linear infinite;
    align-items: center;
  }
  @keyframes bubbles {
    0% {
      box-shadow: 4px -10px rgba(255, 0, 0, 0), 6px 0px rgba(255, 0, 0, 0), 8px -15px rgba(255, 0, 0, 0), 12px 0px rgba(255, 0, 0, 0);
    }
    20% {
      box-shadow: 4px -20px rgba(255, 0, 0, 0), 8px -10px rgba(255, 0, 0, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 0, 0, 0);
    }
    40% {
      box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(247, 0, 255, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
    }
    60% {
      box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(247, 0, 255, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
    }
    80% {
      box-shadow: 2px -80px rgba(247, 0, 255, 0.4), 4px -70px rgba(247, 0, 255, 0.4), 8px -120px rgba(255, 0, 0, 0), 12px -35px rgba(255, 0, 0, 0.5);
    }
    100% {
      box-shadow: 4px -100px rgba(255, 0, 0, 0), 8px -90px rgba(255, 0, 0, 0), 10px -120px rgba(255, 0, 0, 0), 15px -45px rgba(255, 0, 0, 0);
    }
  }
/*BOTONES ELIXIRS*/
.buttonElixirs{
  display: block;
  margin: auto; 
  margin-bottom: 10px;
  }

  /* Color boton sin poner ratón */
  .buttonElixirs {
    align-items: center;
    margin-bottom: 10px; 
    background-color: #c055ae; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
/* Color botón al pasar el ratón */
.buttonElixirs:hover {
  background-color: #b11e85;
}
/* Editar imagenes casas */
@media screen and (max-width: 600px) {
    td {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 100%; 
        height: auto;
        display: block;
    }
}
img.Gryffindor{
    max-width: 230px;
    height: auto;
    
}
img.Ravenclaw{
    max-width: 230px;
    height: auto;
}
img.Slytherin{
    max-width: 230px;
    height: auto;
    
}
img.Hufflepuff{
    max-width: 230px;
    height: auto;
    
}

td {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center; 
    vertical-align: middle; 
    overflow: hidden;
}
tr{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    text-align: center; 
    vertical-align: middle; 
    overflow: hidden;
}
table{
      width: 100%;
}
/*estilo para los botones y elemento flotante destacar persona*/
.buttonDestPers {
  background-color: cornflowerblue; 
  color: white; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 10px;
}
.buttonDestPers:hover{
  background-color:rgb(47, 47, 116);
}
.destacarPersona{
    position:fixed;
    top: 10px;
    color:rgb(216, 19, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 20px rgb(216, 19, 141);
    width: 100px; 
    text-align: center;
    margin: auto;
    right: 10px;
    padding: 10px;
    font-size: small;
}
.Wizards{
  display:flex;
  flex-direction: column;
  text-align: center; 
  align-items: center;
}
.nameCont{
    display: flex;
    align-items: center; 
}
/*estilo del elemento flotante de los botones para destacar casa*/
.buttonDestCasa {
  align-items: center;
    margin-bottom: 10px; 
    background-color: #000000; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.buttonDestCasa:hover {
  background-color: #4b4b4b;
}
.destacarGryffindor{
    position: fixed;
    top: 85px;
    right: 10px;
    padding: 10px;
    color:#8f1818;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow:0 0 20px #8f1818;
    width: 100px;
    text-align: center;
    margin: auto;
    font-size: small;
} 
.destacarRavenclaw{
    position: fixed;
    top: 85px;
    right: 10px;
    padding: 10px;
    color:#20188f;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow:0 0 20px #20188f;
    width: 100px; 
    text-align: center;
    margin: auto;
    font-size: small;
}
.destacarHufflepuff{
    position: fixed;
    top: 85px;
    right: 10px;
    padding: 10px;
    color:rgb(184, 173, 21);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow:0 0 20px rgb(184, 173, 21);
    width: 100px; 
    text-align: center;
    margin: auto;
    font-size: small;
}
.destacarSlytherin{
    position: fixed;
    top: 85px;
    right: 10px;
    padding: 10px;
    display: block;
    color:rgb(57, 116, 70);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    box-shadow:0 0 20px rgb(50, 143, 70);
    width: 100px; 
    text-align: center;
    margin: auto;
    font-size: small;
}